*{

margin: 0px;
font-family: sans-serif;
}

header{

   display: flex;
   height: 70vh;
   background-image: url(images/banner-bk.jpg);
   color: white;
   background-size: cover;
   background-repeat: no-repeat;
   height: 60%;
   width: 100%;
   flex-direction: column;
}

#nav{

display: flex;
justify-content: space-between;
margin-right: 8%;
margin-top: 4%;
color: white;
font-size: 20px;

}

#logo{

display: flex;
width: 70;
height: 20%;


margin-left: 8%;

}
#caja1{

   margin-top: 7%;
   margin-left: 7%;
   color: white;
   font-weight: bold;
   font-size: 80px;
   

}
#caja2{
margin-left: 7%;
margin-top: 3%;
color: white;
font-weight: lighter;
font-size: 23px;

}

#text1{

font-size: 80px;

}
#text2{

   font-size: 80px;
   
   }
   #text3{

      font-size: 20px;
      margin-top: 3%;
      
      }
      #button {
         margin-top: 50px; 
         color: rgb(0, 0, 0); 
         background-color: rgb(67, 227, 255);
         border: 10px solid rgb(67, 227, 255);
         padding: 6px 45px; 
         border-radius: 20px; 
         cursor: pointer; 
         margin-bottom: 5%;
     }
   
     #section1{
      display: flex;
      font-size: 30px;
      height: 90vh;
      flex-direction: column;

     }
     #text5{
      display: flex;
      font-weight: bolder;
      margin-left: 1%;
      margin-top: 5%;
      font-size: 50px;
      align-self: 50%;
      justify-content: center;
      align-items: center;

     }
     #images-sect1{
      display: flex;
   margin-top: 8%;
   margin-left: 0%;
   justify-content: space-evenly;
     }

     #text-sect1{

      display: flex;
      font-size: 100%;
      font-weight: bolder;
      justify-content:  space-evenly;

     }
#texts-sect1{
   display: flex;
font-size: 55%;
justify-content: space-evenly;
margin-top: 2%;
}
.same-text{

width: 20%;

}
   
.seccion2{
   display: flex;
   flex-direction: column;
   background: url('images/fondo-image.png');
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 100px ;
}
.all-2_1, .all-2_2{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
}
#h1-s2{
   font-size: 40px;
}
#p-s2{
   width: 600px;
   padding: 20px 0;
   font-size: 15px;
}
#btn-s2{
   border: none;
   outline: none;
   border-radius: 500px;
   padding: 10px 30px;
   background-color: rgb(25, 36, 64);
   color: whitesmoke;
   cursor: pointer;
   transition: .7s;
}

#section3{
   display: flex;
   
   
}
#section3-1{

   display: flex;
   flex-direction: row;
}

#text1-sect3{
   margin-top: 5%;
display: flex;
align-items: center;
justify-content: center;
font-size: 50px;
font-weight: bolder;
}

#section3-1{
   margin-top: 5%;
   display: flex;
   font-size: 30px;
   margin-left: 8%;
   display:flex;
   flex-direction: column;
   width: 10%;

}

#price1{
margin-top: 2%;
font-weight: bolder;

}
#price1-1{
   margin-top: 10%;
   font-size: 50px;
   font-weight: bolder;
}

